<div class="container">

  <div id="new-question">
    <%= form_for @question do |f| %>
      <%= f.label :title%>:<br>
      <%= f.text_field :title%><br>
      <%= f.label :question%>:<br>
      <%= f.text_area :content%><br>

      <%= f.submit %>
    <% end %>
  </div>

</div>
