<div class="container">
  <div class="question-display-container">
    <div class="col-md-1">
      <br><br>
      <% if current_user %>
        <%= link_to questions_upvote_path(@question), method: :put do %>
          <div class="arrow-up"></div>
        <% end %>
        <%= @question.votes.count %>
        <%= link_to questions_downvote_path(@question), method: :put do %>
          <div class="arrow-down"></div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="arrow-up"></div>
        <% end %></br>
        <%= @question.votes.count %>
        <%= link_to new_user_session_path do %>
          <div class="arrow-down"></div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-10">
      <h2><%=@question.title%></h2>
      <p id="question-content"><%= markdown(@question.content) %></p>
      <p><%= link_to @question.user.name, user_path(@question.user.id) %></p>
      <% if current_user == @question.user %>
        <br><%= link_to 'Edit Question', edit_question_path %>
      <% end %>

      <br>

      <% if current_user %>
       <%= link_to "Submit Answer", new_question_answer_path(@question), remote: true, method: :get, class: "btn btn-primary btn-sm" %>
        <div class="submit-answer-form"></div>
      <% end %>

      <hr></hr>

      <div class="comments-display-div">
        <h4>Comments</h4>
        <% @question.comments.each do |comment| %>
          <p><%= comment.content %> - <%= link_to comment.author.name, user_path(comment.author) %></p>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br>
<hr></hr>

  <table id="answers-display-table">
    <% @question.answers.each do |answer| %>
    <tr>
      <td class="small-data">
        <% if current_user %>
          <%= link_to answer_upvote_path(answer), method: :put do %>
            <div class="arrow-up"></div>
          <% end %>
          <%= answer.votes.count %>
          <%= link_to answer_downvote_path(answer), method: :put do %>
            <div class="arrow-down"></div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="arrow-up"></div>
          <% end %>
          <%= answer.votes.count %>
          <%= link_to new_user_session_path do %>
            <div class="arrow-down"></div>
          <% end %>
        <% end %>
      </td>

      <td class="question-data">
       <br><p><%= markdown(answer.content) %> - <%= link_to answer.user.name, user_path(answer.user.id) %></p>
        <% if current_user == answer.user %>
        <p><%= link_to 'Edit Answer', edit_question_answer_path(@question.id, answer.id) %></p>
        <% end %>

          <hr></hr>
          <div class="comments-display-div">
            <h4>Comments</h4>
              <% answer.comments.each do |comment| %>
                <p><%= comment.content %> - <%= link_to comment.author.name, user_path(comment.author) %></p>
              <% end %>
              <%= link_to 'Add Comment', question_comments_path(@question) %>
          </div>

      </td>

    </tr>

    <% end %>
  </table>

</div>
