<div class="container">
  <div class="question-display-container">
    <div class="col-md-1">
      <br><br>
      <%= render partial: "/questions/question_votes", locals: { question: @question } %>
    </div>

    <div class="col-md-10">
      <h2><%=@question.title%></h2>
      <p id="question-content"><%= markdown(@question.content) %></p>
      <p><%= link_to @question.user.name, user_path(@question.user.slug) %></p>
      <% if current_user == @question.user %>
        <br><%= link_to 'Edit Question', edit_question_path %>
      <% end %>

      <br>

      <% if current_user %>
       <%= link_to "Submit Answer", new_question_answer_path(@question), remote: true, method: :get, class: "btn btn-primary btn-sm" %>
        <div class="submit-answer-form"></div>
      <% end %>

      <hr></hr>

      <div class="comments-display-div">
        <%= render partial: "comments_view", locals: { object: @question } %>
        <% if current_user %>
          <%= link_to 'Add Comment', question_comments_path(@question) %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br>
<hr></hr>

  <table id="answers-display-table">
    <% @question.answers.each do |answer| %>
    <tr>
      <td class="small-data">
        <%= render partial: "/answers/answer_votes", locals: { question: @question, answer: answer } %>
      </td>

      <td class="question-data">
        <br><p><%= markdown(answer.content) %> - <%= link_to answer.user.name, user_path(answer.user.slug) %></p>
          <% if current_user == answer.user %>
        <p><%= link_to 'Edit Answer', edit_question_answer_path(@question.id, answer.id) %></p>
        <% end %>

          <hr></hr>
          <% if current_user %>
            <div class="comments-display-div">
              <%= render partial: "comments_view", locals: { object: answer } %>
              <%= link_to 'Add Comment', question_answer_comments_path(@question, answer) %>
          <% end %>
          </div>

      </td>

    </tr>

    <% end %>
  </table>

</div>
