<div class="container">

  <div class="questions-container">
    <div class="votes">
     <%= link_to questions_upvote_path(@question) do%><div class="arrow-up"></div><% end %>
        <br>
      <%= link_to questions_downvote_path(@question) do%><div class="arrow-down"></div><% end %>
    </div>

    <h1 class="question-title"><%=@question.title%></h1>
    <a href="/users/<%= @question.user.id %>"><h3 class="question-user"><%=@question.user.name%></h3></a>
    <p id="question-content"><%=@question.content%></p>
  </div>

  <div id="answers-container">
    <% @question.answers.each do |answer| %>
    <div class="answer">

        <div class="votes">
          <div class="arrow-up"></div>
            <br>
          <div class="arrow-down"></div>
        </div>

      <p class="answer-content"><%= answer.content %></p>

      <a href="/users/<%= answer.user.id %>"><h5 class="answer-user"><%= answer.user.name %></h5></a>

    </div>
    <% end %>
  </div>

  <%= render "/answers/form" %>

</div>
