<div class="container">

  <div class="questions-container">
    <div class="votes">
      <div class="arrow-up"></div>
        <br>
      <div class="arrow-down"></div>
    </div>

    <h1 class="question-title"><%=@question.title%></h1>
    <a href="/users/<%= @question.user.id %>"><h3 class="question-user"><%=@question.user.name%></h3></a>
    <p id="question-content"><%=@question.content%></p>
  </div>

  <div id="page-break"></div>

  <div id="answers-container">
    <% @question.answers.each do |answer| %>
    <div class="answer">

        <div class="votes">
          <div class="arrow-up"></div>
            <br>
          <div class="arrow-down"></div>
        </div>

      <p class="answer-content"><%= answer.content %></p>
      <a href="/users/<%= answer.user.id %>"><h5 class="answer-user"><%=  %>  <%= link_to answer.user.id, answer.user.name %></h5></a>

    </div>
    <% end %>
  </div>

  <div id="new-answer">

    <% form_for @answer do |f| %>
    <%= render partial: "answers/new", object: @answer, as: 'answer' %>
    <% end %>
  </div>


</div>
