 <div id="edit-user">
  <%= form_for @user do |f| %>
      <%= f.label :name%>:<br>
      <%= f.text_field :name%><br>

      <%= f.label :avatar_url%>
      <%= f.text_field :avatar_url%>

      <%= f.label :bio%>:<br>
      <%= f.text_area :bio, sixe: "50x10"%>
    <%= f.submit %>
  <% end %>
</div>
