

<div class="col-md-4"> <%= image_tag @user.avatar_url %></div>
<div class="col-md-4"><h1><%= @user.name %></h1></div>
</br>Biography : <%= @user.bio %>
</br>Email : <%= @user.email %>

<h2> Question asked : </h2>

<% @user.questions.each do |question| %>
<p> <%= link_to question.content, question %> </p>

<% end %>

 <h2> Question Answered : </h2>

<% @user.given_answers.each do |answer| %>
<p>	<%= link_to answer.content, question_answer_path(answer.question,answer) %> </p>
<% end %>

<!-- /questions/:question_id/answers/:id -->
