	<div>
		<div class="col-md-2"><%= image_tag @user.avatar_url, size: "150x150" %></div>
		<div class="col-md-10">
			<h2><%= @user.name %></h2>
	    </br>Biography: <%= @user.bio %>
	    </br>Email: <%= @user.email %>

	    <div>
				<hr></hr>
				<div class="col-md-6">
					<h3>Questions</h3>
					<hr></hr>
					<% @user.questions.each do |question| %>
						<p><%= link_to question.title, question %></p>
					<% end %>
				</div>

				<div class="col-md-6 profile">
					<h3>Answers</h3>
					<hr></hr>
					<% @user.given_answers.each do |answer| %>
						<p><%= link_to answer.question.title, answer.question %></p>
					<% end %>
				</div>
			</div>

	   </div>
	</div>





