<% if current_user %>
  <%= link_to answer_upvote_path(answer), method: :put do %>
    <div class="arrow-up"></div>
  <% end %>
  <%= answer.votes.count %>
  <%= link_to answer_downvote_path(answer), method: :put do %>
    <div class="arrow-down"></div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <div class="arrow-up"></div>
  <% end %>
  <%= answer.votes.count %>
  <%= link_to new_user_session_path do %>
    <div class="arrow-down"></div>
  <% end %>
<% end %>