  <h2>Top Questions</h2>
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td class="small-data">
          <%= render partial: "/questions/question_votes", locals: { question: question } %>
        </td>

        <td class="small-data"><%= question.answers.count %>
          <br>Answers</td>

        <td class="question-data">
          <h4><%= link_to question.title, question_path(question) %></h4>
          asked by <%= link_to question.user.name, user_path(question.user.slug) %> at <%= question.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

<%= paginate @questions %>