  <h2>Top Questions</h2>
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td class="small-data">
          <% if current_user %>
            <%= link_to questions_upvote_path(question), method: :put do %>
              <div class="arrow-up"></div>
            <% end %>
            <%= question.votes.count %>
            <%= link_to questions_downvote_path(question), method: :put do %>
              <div class="arrow-down"></div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <div class="arrow-up"></div>
            <% end %></br>
            <%= link_to new_user_session_path do %>
              <div class="arrow-down"></div>
            <% end %>
          <% end %>
        </td>

        <td class="small-data"><%= question.answers.count %>
          <br>Answers</td>

        <td class="question-data"><h4><%= link_to question.title, question_path(question) %></h4>
        asked by <%= link_to question.user.name, profile_path(question.user.slug) %> at <%= question.created_at %></td>

      </tr>
    <% end %>
  </table>
<!--     <p  id="question-content"><#%=question.content%></p> -->


<!--  <%# if current_user %>
  <%#= link_to "upvote", root_path %>
  <%#= link_to "downvote", root_path %>
<%# else %>
  <%#= link_to "upvote", root_path %>
  <%#= link_to "downvote", root_path %>
<%# end %> -->

<!-- <p id="question-content"><%#=question.content%></p> -->

<!-- <div style="background-color: #d3d3d3; margin-bottom: 30px;padding-left: 60px;padding-top: 10px;padding-bottom: 10px">
      <div style="background:#fff; width:1050px;"> -->
<!-- </div> -->
