<div class="container">

  <div id="questions-container">
    <% @questions.each do |question| %>
        <% if current_user %>
          <%= link_to "upvote", questions_upvote_path(question), method: :put %>
          <%= question.votes.count %>
          <%= link_to "downvote", questions_downvote_path(question), method: :put %>
        <% else %>
          <%= link_to "upvote", new_user_session_path %></br>
          <%= link_to "downvote", new_user_session_path %>
        <% end %>

      <h2 class="question-title"><%= link_to question.title, question %></h2>
      <h4><%= link_to question.user.name, profile_path(question.user.slug) %></h4>
    <% end %>
</div>
