<!DOCTYPE html>
<html>
<head>
  <title>YoonOverflow</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-uppercase" href="/">YoonOverflow</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

          <% unless current_user %>
          <li><%= button_to 'Signup', new_user_registration_path, class: "btn btn-primary btn-sm", method: :get %></li>
          <li><%= button_to 'Signin', new_user_session_path, class: "btn btn-primary btn-sm", method: :get %></li>
          <% else %>
          <li><%= button_to 'My Profile', profile_path(current_user.id), class: "btn btn-primary btn-sm",method: :get %></li>
          <li><%= button_to 'Logout', destroy_user_session_path, class: "btn btn-primary btn-sm", method: :delete %></li>
          <% end %>
        </ul>
      </nav>

    <div class="container">
      <%= yield %>
    </div>

    <br><br><br><br>

  </div>
</body>